# Git ignore file for luainputenc.
# See target 'mrproper' in Makefile.
eu2enc.def
eu2lmr.fd
inputenc.sty.diff
luainputenc.drv
luainputenc.lua
luainputenc.pdf
luainputenc.sty
lutf8.def
lutf8x.def
luainputenc.zip
luainputenc.tds.zip
