# Git ignore file for luainputenc.
# Should be in sync with make's $(GENERATED).
eu2enc.def
eu2lmr.fd
inputenc.sty.diff
luainputenc.drv
luainputenc.lua
luainputenc.pdf
luainputenc.sty
lutf8.def
lutf8x.def
