# Git ignore file for luainputenc.
# See target 'mrproper' in Makefile.
inputenc.sty.diff
luainputenc.lua
luainputenc.pdf
luainputenc.sty
lutf8.def
lutf8x.def
luainputenc.zip
luainputenc.tds.zip
test*
